<header>
    <nav class ="navbar navbar-expand-sm navbar-dark bg-dark">
    <div><a href="#" class="navbar-brand">Vehicles Details</a></div>
    
    <ul class="navbar-nav">
      <li><a  routerLink="/list" routerLinkActive="active" class="nav-link">View Vehicles</a></li>
      <li><a  routerLink="/addvehicle" routerLinkActive="active" class="nav-link">Add New Vehicle</a></li>    
      <!-- <li><a routerLink="/myvehicles" routerLinkActive="active" class="nav-link">My Vehicles</a></li>
      <li><a  routerLink="/vehicleslist" routerLinkActive="active" class="nav-link">Vehicles List</a></li> -->
    </ul>   
    </nav>
    
</header>