<body>
    <div class="img">

        <div class="container">
          <div class="row">
          <div class="card card1 col-md-4 offset-md-9">

          <div class="form-group">
            <input class="form-control" type="text" placeholder="User ID">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Password">
        </div>
        <button class="btn btn-primary  col-md-12" style="margin-top: 10px; margin-bottom: 10px;" (click)="userpage()">Login</button><br>
            <button class="btn btn-success col-md-12" style="margin-bottom: 10px;">Create new account</button>
          </div>
        </div>
      </div>
    </div>
    

    <div class="container">
        <div class="row">
    <div class="card card2 card-content col-md-3" style="width: 18rem; margin-top: 30px;">
        <img class="imageheader card-img-top" src="https://static.vecteezy.com/system/resources/previews/000/684/243/non_2x/online-payment.jpg" alt="Card image cap">
          <h1 class="text-center"><b>ONLINE PAYMENT</b></h1>
          <p class="card-text">Online dues collection solution with zero convenience charge</p>
    </div>
    <div class="col-md-1"></div>
    <div class="card card-content col-md-3" style="width: 18rem;margin-top: 30px;">
        <img class="imageheader card-img-top" src="https://d2iczoxrzm2ool.cloudfront.net/images//feature/society_accounting_software/society-billing.png" alt="Card image cap"> 
            <h1 class="text-center"><b>SOCIAL BILLING</b></h1>
          <p class="card-text">Automated society billing and collections.</p>
        </div>
        <div class="col-md-1"></div>
        <div class="card card-content col-md-3" style="width: 18rem;margin-top: 30px;">
            <img class="imageheader card-img-top" src="https://lmksuo59r52jxjjy13j6oyze-wpengine.netdna-ssl.com/crm/files/2019/07/m2n2spiXZ7l7.jpg" alt="Card image cap"> 
                <h1 class="text-center"><b>HELPDESK</b></h1>
              <p class="card-text">Customized complaints, suggestions and request tracking solution.</p>
            </div>
    </div> 
    </div>

    
</body>