<body>
    <div class="img">
         <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" >
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>  -->
          <nav class="navbar navbar-dark navbar-expand-sm bg-dark fixed-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
               <a class="navbar-brand mr-auto" href="#">SkyView</a>
               <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto"></ul>
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-home"></span> About Us</a></li>
                    <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-info"></span> Features</a></li>
                    <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-list"></span> Resources</a></li>
                    <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-address-card"></span> Contact Us</a></li>
                    <li><button class="btn btn-info login" (click)="userpage()">Login</button></li>
                  </ul>      
                </div>                 
            </div>
        </nav>
        
        <button class="btn btn-info login" (click)="userpage()">Login</button>
    </div>
    

    <div class="container">
        <div class="row">
    <div class="card card-content col-md-3" style="width: 18rem; margin-top: 30px;">
        <img class="imageheader card-img-top" src="https://static.vecteezy.com/system/resources/previews/000/684/243/non_2x/online-payment.jpg" alt="Card image cap">
          <h1 class="text-center"><b>ONLINE PAYMENT</b></h1>
          <p class="card-text">Online dues collection solution with zero convenience charge</p>
    </div>
    <div class="col-md-1"></div>
    <div class="card card-content col-md-3" style="width: 18rem;margin-top: 30px;">
        <img class="imageheader card-img-top" src="https://d2iczoxrzm2ool.cloudfront.net/images//feature/society_accounting_software/society-billing.png" alt="Card image cap"> 
            <h1 class="text-center"><b>SOCIAL BILLING</b></h1>
          <p class="card-text">Automated society billing and collections.</p>
        </div>
        <div class="col-md-1"></div>
        <div class="card card-content col-md-3" style="width: 18rem;margin-top: 30px;">
            <img class="imageheader card-img-top" src="https://lmksuo59r52jxjjy13j6oyze-wpengine.netdna-ssl.com/crm/files/2019/07/m2n2spiXZ7l7.jpg" alt="Card image cap"> 
                <h1 class="text-center"><b>HELPDESK</b></h1>
              <p class="card-text">Customized complaints, suggestions and request tracking solution.</p>
            </div>
    </div> 
    </div>

    
</body>