
<!-- <button><mat-icon>keyboard_backspace</mat-icon></button> -->
<!-- <button><mat-icon>arrow_back</mat-icon></button> -->
<!-- <button class="btn btn-secondary" (click)="home()">Home</button> -->
<button class="alignleft btn btn-secondary" (click)="home()">Home</button>
<div class="col-md-6 offset-md-3" style="padding-top: 40px;">
    
    <h2>Edit profile</h2>
    <form (ngSubmit)="update()" style="padding-top: 10px;">
        
        <div class="form-group">
            <label for="resid">Resident Id: </label>
            <input class="form-control" type="text" placeholder="Enter Resident Id" name="resid" 
            [(ngModel)]="resident.residentId" #type="ngModel" id="resid">
        </div>

        <div class="form-group">
            <label for="name">Name: </label>
            <input class="form-control" type="text" placeholder="Enter name" name="name" 
            [(ngModel)]="resident.name" #type="ngModel" id="name">
        </div>
        <div class="form-group">
            <label for="age">Age: </label>
            <input class="form-control" type="text" placeholder="Enter age" name="age" 
            [(ngModel)]="resident.age" #type="ngModel" id="age">
        </div>
        <div class="form-group">
            <label for="phno">Contact No: </label>
            <input class="form-control" type="text" placeholder="Enter contact no" name="phno" 
            [(ngModel)]="resident.phno" #type="ngModel" id="phno">
        </div>
        <div class="form-group">
            <label for="email">Email ID: </label>
            <input class="form-control" type="text" placeholder="Enter email" name="email" 
            [(ngModel)]="resident.email" #type="ngModel" id="email">
        </div>

        <div>
        <button class="alignleft btn btn-info">Update Profile</button>
        <!-- <button class="alignright btn btn-secondary" (click)="home()">Home</button> -->
        </div>
    </form>
</div>