<!-- <div class="col-md-12">
    <h2 class="text-center">My vehicles</h2>
    <br>
    <form>
        <div class="row">
            
        <div class="form-group col-md-1">
            <label for="residentId">Resident Id</label>
            <input class="form-control" placeholder="Id" name="id" id="residentId">
        </div>

        <div class="form-group col-md-3">
            <label for="registrationNo">Registration No</label>
            <input class="form-control" placeholder="Eg: AP39A4567" name="registrationNo" id="registrationNo">
        </div>

        <div class="form-group col-md-1">
            <label for="vehicleType">Vehicle Type</label>
            <input class="form-control" placeholder="Eg: 2" name="vehicleType" id="vehicleType">
        </div>

        <div class="form-group col-md-3">
            <label for="vehicleModel">Vehicle Model</label>
            <input class="form-control" placeholder="Royal Enfield" name="vehicleModel" id="vehicleModel">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-1">
            <label for="residentId">Resident Id</label>
            <input class="form-control" placeholder="Id" name="id" id="residentId">
        </div>

        <div class="form-group col-md-3">
            <label for="registrationNo">Registration No</label>
            <input class="form-control" placeholder="Eg: AP39A4567" name="registrationNo" id="registrationNo">
        </div>

        <div class="form-group col-md-1">
            <label for="vehicleType">Vehicle Type</label>
            <input class="form-control" placeholder="Eg: 2" name="vehicleType" id="vehicleType">
        </div>

        <div class="form-group col-md-3">
            <label for="vehicleModel">Vehicle Model</label>
            <input class="form-control" placeholder="Mahindra Duro" name="vehicleModel" id="vehicleModel">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-1">
            <label for="residentId">Resident Id</label>
            <input class="form-control" placeholder="Id" name="id" id="residentId">
        </div>

        <div class="form-group col-md-3">
            <label for="registrationNo">Registration No</label>
            <input class="form-control" placeholder="Eg: AP39A4567" name="registrationNo" id="registrationNo">
        </div>

        <div class="form-group col-md-1">
            <label for="vehicleType">Vehicle Type</label>
            <input class="form-control" placeholder="Eg: 4" name="vehicleType" id="vehicleType">
        </div>

        <div class="form-group col-md-3">
            <label for="vehicleModel">Vehicle Model</label>
            <input class="form-control" placeholder="Mercedes Benz" name="vehicleModel" id="vehicleModel">
        </div>
    </div>
    </form>
</div> -->

<!-- Editable table -->
    <h3>My Vehicles</h3>
      <div id="table" class="table-editable">
        
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <!-- <th class="text-center">Person Name</th>
            <th class="text-center">Age</th>
            <th class="text-center">Company Name</th>
            <th class="text-center">Country</th>
            <th class="text-center">City</th>
            <th class="text-center">Remove</th> -->

            <th class="text-center">Resident Id</th>
            <th class="text-center">Registration No</th>
            <th class="text-center">Type(2 or 4 wheeler)</th>
            <th class="text-center">Vehicle Model</th>
            
          </tr>
          <tr *ngFor="let vehicle of Vehicle; let id = index">
            <td>
              <span (keyup)="changeValue(id, 'residentId', $event)" (blur)="updateList(id, 'residentId', $event)" contenteditable="true">{{vehicle.residentId}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'vehicleType', $event)" (blur)="updateList(id, 'vehicleType', $event)">{{vehicle.vehicleType}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'vehicleModel', $event)" (blur)="updateList(id, 'vehicleModel', $event)">{{vehicle.vehicleModel}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'registrationNo', $event)" (blur)="updateList(id, 'registrationNo', $event)">{{vehicle.registrationNo}}</span>
            </td>
            
          </tr>
        </table>

      </div>
      <div class="container">
        <div class="center">
          <button class="btn btn-success">Save</button>
        </div>
      </div>
      
  <!-- Editable table -->