<!-- <header>
    <div>
      <h1>Inline Editable Table</h1>
    </div>
    <mat-icon (click)="toggleTheme()" title="Change theme">format_color_fill</mat-icon>
  </header> -->
  <header>
      <div>Editable Vehicles list </div> 
  </header>   
  <form [formGroup]="userTable">
      <table class="table table-border" [ngClass]="{'table-dark': mode}">
        <thead class="text-nowrap">
          <!-- <th>Name <span class="ui-column-resizer" dragableColumn> </span></th>
          <th>Email<span class="ui-column-resizer" dragableColumn> </span></th>
          <th>Date Of Birth<span class="ui-column-resizer" dragableColumn> </span></th>
          <th>Blood Group<span class="ui-column-resizer" dragableColumn> </span></th> 
          <th>Mobile Number</th>-->

          <th>Resident ID <span class="ui-column-resizer" dragableColumn> </span></th>
          <th>Vehicle Type<span class="ui-column-resizer" dragableColumn> </span></th>
          <th>Registration No<span class="ui-column-resizer" dragableColumn> </span></th>
          <th>Vehicle Make<span class="ui-column-resizer" dragableColumn> </span></th> 
          
          <th></th>
        </thead>
        <tbody>
          <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
            <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
              <td>
                <mat-form-field appearance="standard">
                  <!-- <input matInput type="text" formControlName="name"> -->
                  <input matInput type="text" formControlName="residentId">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="standard">
                  <!-- <input matInput type="email" formControlName="email"> -->
                  <input matInput type="text" formControlName="vehicleType">
                  <mat-hint>2 or 4 wheeler</mat-hint>
                </mat-form-field>
              </td>
              <td>
                <!--<mat-form-field>
                   <input matInput matInput [matDatepicker]="picker" formControlName="dob">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker> 
                  <mat-label>AP 05 2010</mat-label>
                  <input matInput placeholder="Placeholder">
                  <input matInput type="text" formControlName="registrationNo">
                </mat-form-field>-->
                <mat-form-field appearance="standard">
                  <mat-label>AP 05 2010</mat-label>
                  <input matInput placeholder="Placeholder" matInput type="text" formControlName="registrationNo">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="standard">
                  <!-- <mat-select formControlName="bloodGroup">
                    <mat-option value="O+">O</mat-option>
                    <mat-option value="A">A</mat-option>
                    <mat-option value="B">B</mat-option>
                    <mat-option value="AB">AB</mat-option>
                  </mat-select> -->
                  <input matInput type="text" formControlName="vehicleMake">
                  <mat-label>Audi</mat-label>
                </mat-form-field>
              </td>
              <!-- <td>
                <mat-form-field>
                  <input matInput type="text" formControlName="mobNumber">
                </mat-form-field>
              </td> -->
              <td>
                <mat-icon class="delete" (click)="deleteRow(i)">delete_forever</mat-icon>
                <mat-icon class="done" (click)="doneRow(group)">done</mat-icon>
              </td>
            </tr>
            <tr *ngIf="!group.get('isEditable').value" >
                <td>
                  {{group.get('residentId').value}}
                </td>
                <td>
                  {{group.get('vehicleType').value}}
                </td>
                <td>
                    {{group.get('registrationNo').value}}
                </td>
                <td>
                    {{group.get('vehicleMake').value}}
                </td>
                <!-- <td>
                  {{group.get('mobNumber').value}}
                </td> -->
                <td>
                  <mat-icon class="edit" (click)="editRow(group)">edit</mat-icon>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div class="action-container">
          <button mat-raised-button type="submit" (click)="addRow()">Add row</button>
          <button mat-raised-button [disabled]="userTable.invalid" type="submit" (click)="submitForm()">Submit</button>
        </div>
      </form>
      <div class="output">
        <p>{{userTable.value}}</p>
          <!-- <p>Form Data:  {{userTable}}</p> -->
          <!-- <p>Is Valid: {{userTable.valid}}</p> --> 
      </div>