.card {
    display:inline-block;
}
.span{
    text-align: center;
}
h2{
    text-align: center;
}
.alignright{
    float:right;
    margin-right: 450px;
    margin-top: 40px;
    
}
.home{
    margin-left: 10px;
    margin-top: 10px;
}