h3{
  padding-left: 15px;
}
tr{
    border: none;
}
.elements{
  padding-top: 100px;
}
h1{
  padding-left: 80px;
  padding-bottom: 10px;
}

.sidenav{
  height: 100%;
  width: 250px;
  font: 100px;
position: fixed;
text-align: center;
background-color: #f7f7f7;
color: white;
overflow-x: hidden;
padding-top: 100px;
border: 1px solid #000000;
}
.sidenav a:hover {
  color: rgb(0,0,0255);
}
.sidenav a {
padding: 6px 10px 25px 16px;
text-decoration: double;
font-size: 20px;
color: #818181;
display: block;
}

.aligncenter{
  float:center;
}

.alignright{
  float:right;
}
.logout{
    margin-top: 70px;
    margin-right: 10px;
    float: right;
}