<!-- <p>viewprofile works!</p> -->

<!-- <div class="col-12 col-md-8 offset-md-2">
    <div *ngFor="let member of residents">
        <div><h6>Name:</h6>  <h6>{{member.name}}</h6></div>
        <div><h6>Age:</h6>  <h6>{{member.age}}</h6></div>
        <button class="btn btn-info" (onclick)="editprofile(member.residentId)">Edit</button>
    </div>
</div> -->

<div class="sidenav">
    <a href="./profile/view">My Profile</a>
    <a href="all-vehicles-list/list">My Vehicles</a>
    <a href="dailyhelp/alldetails">Daily Help</a>
    <a href="family/memberslist">Family Members</a>
    <a href="#">Helpdesk Ticket</a>
    <a href="#">Discussion Forum</a>
  </div>
<button class="btn btn-secondary logout" (click)="logout()">Logout</button>
<div class="elements col-12 col-md-4 offset-md-4"> 

    <table *ngFor="let member of residents">
        <table *ngIf="member.residentId == 101">
    <tr>
      <td><h2>Name:</h2></td>
      <td><h3>{{member.name}}</h3></td>
    </tr>


    <tr>
        <td><h2>Age:</h2></td>
        <td><h3>{{member.age}}</h3></td>
    </tr>
    
    <tr>
        <td><h2>Contact No:</h2></td>
        <td><h3>{{member.phno}}</h3></td>
    </tr>

    <tr>
        <td><h2>Email:</h2></td>
        <td><h3>{{member.email}}</h3></td>
      </tr>
      
    <!-- <tr>
      <td><button class="btn btn-info aligncenter" (click)="editprofile(member.residentId)">Edit profile</button></td>
      <td><button class="btn btn-secondary aligncenter" (click)="logout()">Logout</button></td>
    </tr> -->
       
    <button class="btn btn-info aligncenter" (click)="editprofile(member.residentId)">Edit profile</button>
    
    </table>  
    </table>

  </div>
  